<div class="container">
  <div class="card-body">
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="company">Company</label
        ><input
          type="text"
          id="company"
          placeholder="Enter your company name"
          class="form-control"
        />
      </div>
      <div class="form-group col-sm-4">
        <label for="vat">VAT</label
        ><input
          type="text"
          id="vat"
          placeholder="PL1234567890"
          class="form-control"
        />
      </div>
      <div class="form-group col-sm-4">
        <label for="street">Street</label
        ><input
          type="text"
          id="street"
          placeholder="Enter street name"
          class="form-control"
        />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-8">
        <label for="city">City</label
        ><input
          type="text"
          id="city"
          placeholder="Enter your city"
          class="form-control"
        />
      </div>
      <div class="form-group col-sm-4">
        <label for="postal-code">Postal Code</label
        ><input
          type="text"
          id="postal-code"
          placeholder="Postal Code"
          class="form-control"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="country">Country</label
      ><input
        type="text"
        id="country"
        placeholder="Country name"
        class="form-control"
      />
    </div>
  </div>
</div>
