<div class="container" dir="rtl">

  <div class="row justify-content-between my-2">
    <h3>جدول القضايا</h3>
  </div>

  <table class="table table-sm table-striped table-inverse text-right w-100" >
      <thead class="table-dark">
        <tr>
          <th class="px-2 py-2">رقم القضية</th>
          <th class="px-2 py-2">المحكمة</th>
          <th class="px-2 py-2">نوع الدعوى</th>
          <th class="px-2 py-2">تاريخ ايداع الدعوى</th>
          <th class="px-2 py-2">المستخدم</th>
          <th class="px-2 py-2">تعديل</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of lawsuitInfoList ; let i = index" class="alert" role="alert" [ngClass]="i%2 == 0 ? 'alert-link' : 'alert-secondary' ">
          <td class="py-2">{{item.l_year +'/' +  item.l_no}}</td>
          <td>{{item.court_name}}</td>
          <td>{{item.l_type}}</td>
          <td>{{item.l_date? item.l_date.toString().slice(0,10): 'لا ويوجد تاريخ'}}</td>
          <td>{{item.user['username']}}</td>
          <td>
            <a class="btn btn-sm btn-outline-primary" [routerLink]="['addlawsuit' , item._id]">تحديث</a>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!lawsuitInfoList.length">
        <td colspan="4">
          <h1 class="text-center py-5">لا يوجد بيانات حاليا</h1>
        </td>
      </tbody>
  </table>

  <mat-paginator  [length]="lawsuitLength.toFixed()"
                  [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions"
                  (page)="getLawsuitInfoList($event.pageSize,$event.pageIndex + 1)"
                  aria-label="Select page">
</mat-paginator>


</div>
