<div class="container" dir="rtl">

  <div class="row justify-content-between my-2">
    <h3>جدول القضايا</h3>
    <button class="btn btn-outline-primary px-5" [routerLink]="['/addlawsuit']" >+</button>
  </div>

  <table class="w-100 border text-right" dir="rtl">
      <thead>
        <tr style="background-color: black; color: whitesmoke;">
          <th class="px-2 py-2">رقم القضية</th>
          <th class="px-2 py-2">المحكمة</th>
          <th class="px-2 py-2">نوع الدعوى</th>
          <th class="px-2 py-2">تاريخ ايداع الدعوى</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
  </table>

</div>
