.card{
    height: 220px;
    width: 250px;
    border: 1px solid lightblue;
    box-shadow: 2px 3px 2px lightgray , 3px 4px 3px darkgray, -2px -2px 3px rgb(238, 234, 234);
    border-radius: 10%;
    margin: 20px 0;
}

.header{
    font-weight: bolder;
    padding: 5px;
}

.gray{
    width: 100%;
    background-color: lightblue;
}